# Project dependencies
streamlit
pandas
langgraph
crewai
autogen
langchain==0.3.13
llama-index
llama-index-core
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-readers-file
chromadb
python-dotenv
openai
tiktoken
langchain-openai
# optional: rich loguru
rich
loguru
# end
